* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #000D07;
    --secondaryColor: #042616;
    --accentCOlor: #125938;
    --headingText: "Lora", serif;
    --bodyText: "Titillium Web", sans-serif;
}

body {
    background-color: var(--primaryColor);
    color: #FFFFFF;
}

header {
    position: relative;
}

.image-box {
    height: 300px;
    width: 300px;
}

.image-box>img {
    height: 100%;
    width: 100%;
    background: none;
}

.hero-btn {
    background-color: var(--accentCOlor);
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.hero-btn:hover {
    background-color: #137044;
    color: black;
}

.header-section {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.intro-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intro-texts button {
    margin: auto 0;
}

.intro-texts>h1 {
    font-size: 5rem;
    font-family: var(--headingText);
}

.intro-texts>p {
    font-family: var(--bodyText);
    font-size: 1.2rem;
}

.hero-section {
    display: flex;
    justify-content: center;
}

.gauth-box {
    cursor: pointer;
}